@model List<Car_Rent_All.Models.Ugyfel>
@{
    ViewBag.Title = "Index";
}

<h2>Ügyfelek</h2>

<button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("New", "Ugyfelek")'">Új ügyfél hozzáadása</button>

<table id ="ugyfelek" class="table table-dark table-hover">
    <thead>
        <tr>
            <th>Név</th>
            <th>Cím</th>
            <th>Születési dátum</th>
            <th>Jogosítvány</th>
            <th>Telefonszám</th>
            <th>E-mail</th>
            <th>Törlés</th>
        </tr>
    </thead>
    <tbody>
        @*@if (Model.Count == 0)
        {
            <tr>
                <td>Még nincs egyetlen ügyfél sem az adatbázisban!</td>
            </tr>
        }
        else
        {
            foreach (var ugyfel in Model)
            {
                <tr>
                    <td>@Html.ActionLink(ugyfel.Nev, "Edit", "Ugyfelek", new { id = ugyfel.Id}, null)</td>
                    <td>@ugyfel.Cim</td>
                    <td>@ugyfel.SzuletesiDatum.Value.ToString("yyyy-MM-dd")</td>
                    <td>@ugyfel.Jogositvany</td>
                    <td>@ugyfel.Telefonszam</td>
                    <td>@ugyfel.Email</td>
                    <td>
                        <button data-ugyfel-id="@ugyfel.Id", class="btn-link js-delete">Törlés</button>
                    </td>
                </tr>
            }
        }*@

    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#ugyfelek").DataTable({
                ajax:
                {
                    url: "/Api/Ugyfelek",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "nev",
                        render: function (data, type, ugyfel) {
                            return "<a href='/Jarmuvek/Edit/" + ugyfel.id + "'>" + ugyfel.nev
                        }
                    },
                    {
                        data: "cim"
                    },
                    {
                        data: "szuletesiDatum"
                    },
                    {
                        data: "jogositvany"
                    },
                    {
                        data: "telefonszam"
                    },
                    {
                        data: "email"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-ugyfel-id=" + data + ">Törlés</button>";
                        }
                    },
                ]
            });

            $("#ugyfelek").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Valóban törölni szeretnéd a kiválasztott ügyfelet?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/Api/Ugyfelek/" + button.attr("data-ugyfel-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>   
}

