@model Car_Rent_All.Models.Szerzodes
@{
    ViewBag.Title = "New";
}

<h2>Árajánlat áttekintés</h2>


@using (Html.BeginForm("Save", "Szerzodesek"))
{
    <h3>Személyes adatok</h3>

    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>Név</th>
                <th>Cím</th>
                <th>Születési dátum</th>
                <th>Jogosítvány</th>
                <th>Telefonszám</th>
                <th>E-mail</th>
                <th>Szerkesztés</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Ugyfel.Nev</td>
                <td>@Model.Ugyfel.Cim</td>
                <td>@Model.Ugyfel.SzuletesiDatum</td>
                <td>@Model.Ugyfel.Jogositvany</td>
                <td>@Model.Ugyfel.Telefonszam</td>
                <td>@Model.Ugyfel.Email</td>
                <td>@Html.ActionLink("Szerkesztés", "Index", "Ugyfelek")</td>
            </tr>
        </tbody>
    </table>

    <h3>Kiválasztott jármű</h3>

    <div class="card">
        <h3 class="card-header">@Model.Jarmu.Nev</h3>
        <div class="card-body">
            <h5 class="card-title">Váltó: @Model.Jarmu.Valto.Nev</h5>
            <h6 class="card-subtitle text-muted">Üzemanyag: @Model.Jarmu.Uzemanyag.Nev</h6>
        </div>
        <img src="~/Content/IMG/@Model.Jarmu.Kep" />
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Férőhelyek száma: @Model.Jarmu.Ules</li>
            <li class="list-group-item">Ajtók száma: @Model.Jarmu.Ajtok</li>
            <li class="list-group-item">Gyártás éve: @Model.Jarmu.GyartasEve</li>
        </ul>
        <div class="card-body">
            <a href="\Jarmuvek\Details\@Model.Jarmu.Id" class="card-link">Részletes adatok</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(sz => sz.BerlesKezdoIdopont)
        @Html.TextBoxFor(u => u.BerlesKezdoIdopont, new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(u => u.BerlesKezdoIdopont)
    </div>

    <div class="form-group">
        @Html.LabelFor(sz => sz.BerlesZaroIdopont)
        @Html.TextBoxFor(u => u.BerlesZaroIdopont, new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(u => u.BerlesKezdoIdopont)
    </div>


    @Html.HiddenFor(sz => sz.Id)
    @Html.HiddenFor(j => j.JarmuId)
    @Html.HiddenFor(u => u.UgyfelId)

    <button type="submit" class="btn btn-primary">Árajánlatot kérek!</button>
}





